@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>SeaySide.net</h1>
	<p class="lead">Happy calculating.</p>
	@*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Take a look around.</h2>
		<p>
			Take a peek. I use this as a personal playground for my life. Have a look at what's going on in here and if you have any questions let me know.
		</p>
		<p><a class="btn btn-default" href="#">Take a look &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Github.</h2>
		<p>Check out my github.</p>
		<p><a class="btn btn-default" href="#">Github &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Tell me how I'm doing.</h2>
		<p>Personal Bio and contact.</p>
		<p><a class="btn btn-default" href="#">Contact &raquo;</a></p>
	</div>
</div>