@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Loan Calc</h1>
    <p class="lead">Loan Calc is a free application that will compute loan payoff dates and amortization schedules based on your input.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Add some loan details and then choose from the available algorythms to see the projected calcuations and payoff dates.
        </p>
        <p><a class="btn btn-default" href="#">Add &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contribute</h2>
        <p>The src lives on GitHub. Please feel free to take a look and contribute where possible.</p>
        <p><a class="btn btn-default" href="#">Contribute &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tell me how I'm doing.</h2>
        <p>I'm just a guy that likes to financially plan and I thought this could be helpful for others. Let me know what I can add or if there are bugs that need to be fixed.</p>
        <p><a class="btn btn-default" href="#">Contact &raquo;</a></p>
    </div>
</div>